// float clear
.clearfix { 
    display: block;
    height: 1px;
    min-height: 1px;
    &::after {
        content: '';
        display: block; 
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.outer {
    width: 100%; 
    height: 100%; 
    display: table;

    .inner {
        display: table-cell;
        vertical-align: middle;
    }

}

.hide {
    visibility: hidden;
    opacity: 0;
    font-size: 0;
}