@charset "UTF-8";

/* font */
    @font-face {
        font-family: 'Noto Sans Korean';
        font-style: normal;
        font-weight: 400;
        src: local("Noto Sans Regular"), local("NotoSans-Regular"),
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Regular-Hestia.woff") format("woff"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Regular-Hestia.otf") format("opentype"); }
    
    @font-face {
        font-family: 'Noto Sans Korean';
        font-style: normal;
        font-weight: 700;
        src: local("Noto Sans Bold"), local("NotoSans-Bold"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/woff/NotoSansKR-Bold-Hestia.woff") format("woff"), 
        url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/fonts/otf/NotoSansKR-Bold-Hestia.otf") format("opentype"); }
        
/* reset */
    html, body { width: 100%; height: 100%; }
    html, body, div, span, p, iframe, section, 
    dl, dt, dd, ul, ol, li, 
    table, caption, thead, tbody, tfoot, tr, th, td, 
    a, img, address, hr, pre, em, 
    h1, h2, h3, h4, h5, h6 
    { margin: 0; padding: 0; text-decoration: none; font-weight: normal; font-style: normal; vertical-align: baseline; 
    font-size: 13px; line-height: 1; letter-spacing: -0.034em; color: #3d3d3d; font-family: "Noto Sans Korean"; -webkit-font-smoothing: antialiased; }
    b, strong { font-weight: bold; }
    fieldset, legend {display:none;}
    img { width: 100%; border: none; }
    dl, dt, dd, ul, ol, li { list-style: none; }
    table, td, th { border-collapse: collapse; border: 0; border-spacing: 0; text-align: left; border: 1px solid gray;  }
    blockquote, q {quotes:none;}
    del {text-decoration:line-through;}
    input { font-family: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; }
    input, textarea { display: inline-block; padding: 0; margin: 0; border: 0; background: none; font: inherit; resize: none; outline: 0; }
    input::-ms-clear { display: none; }
    input:focus,
    button:focus { outline: none; }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder { color: #bfbfbf; }
    button { display: inline-block; padding: 0; margin: 0; border: 0; background: none; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; }
    a { color: inherit; text-decoration: none; }
    a:link, a:hover, a:visited, a:active {text-decoration:none; display:inline;}

    
/* common */
    .fl { float: left; }
    .fr { float: right; }
    * html .clearfix { height: 1px; }
    .clearfix { display: block; min-height: 1px; }
    .clearfix:after { clear: both; display: block; content: ""; height: 0; visibility: hidden;}  
    .hidden { display: none !important; }
    .lHidden { position: absolute; display: block; width: 0 !important; height: 0 !important; padding: 0 !important; margin: 0 !important; border: 0 !important; text-indent: -9000px; overflow: hidden; }
    .skip {display:none !important;}
    .last { padding: 0; margin: 0; border: 0; }