@import 'common.css';


/** layout **/
    header { width: 100%; height: 56px; border-bottom: 1px solid #e8e8e8; box-sizing: border-box; }
    header .title > a { display: table; font-size: 20px; font-weight: bold; color: #595959; line-height: 55px; margin: 0 auto; }
    .content { position: relative; width: 336px; margin: 30px auto; box-sizing: border-box; }

    .content .set-up {}
    .content .set-up .how-to h3 { font-size: 22px; letter-spacing: 3px; }
    .content .set-up .how-to ol { margin-top: 30px; }
    .content .set-up .how-to ol > li { margin-top: 10px; }
    .content .set-up .how-to ol > li span { font-size: 15px; font-weight: bold; color: #60c5ba; margin-left: 4px; }
    .content .set-up .how-to ol > li em { display: inline-block; margin: 0 5px 0 8px; }
    .content .set-up .who-is .player-row input[name=nickname] { margin-top: 10px; }

    .content .set-play .word { font-size: 22px; line-height: 1.4; letter-spacing: -1px; }
    .content .set-play .play_time > li { font-size: 12px; color: #fff; background-color: #018aff; -webkit-border-radius: 16px; border-radius: 16px; padding: 2px 6px 3px 5px; box-sizing: border-box; }
    
    .content .set-who .plyr_info > div { float: left; margin-right: 10px; }
    .content .set-who .plyr_info .info-life li { float: left; margin-left: 5px; margin-right: 8px; }
    .content .set-who .plyr_info .info-life li+li+li+li { opacity: -0.05; display: none; }


/** input **/
    .content .input-row { margin-top: 15px; }
    .content .input-row input { width: 100%; font-size: 15px; line-height: 46px; }
    .content .input-row input:not([type=text]) { position: absolute; left: 0; bottom: -66px; cursor: pointer; }
    .content .input-row input[type=text] { border: 1px solid #eee;  padding: 0 11px; box-sizing: border-box; }
    .content .input-row input.start { color: #fff; background-color: #7860c4; }
    .content .input-row input.next { color: #fff; background-color: #60c5ba; }
    .content .input-row input.submit { background-color: #f8de7e; }
    .content .input-row input.reStart { display: none; color: #fff; background-color: #018aff; }

/** heart **/
    .content .set-up .how-to ol > li em,
    .content .set-who .plyr_info .info-life li { position: relative; width: 12px; height: 12px; background-color: #e94e77; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    .content .set-up .how-to ol > li em::before, .content .set-up .how-to ol > li em::after,
    .content .set-who .plyr_info .info-life li::before, .content .set-who .plyr_info .info-life li::after { content: ""; position: absolute; width: 12px; height: 12px; -webkit-border-radius: 12px; border-radius: 12px; background: #e94e77; }
    .content .set-up .how-to ol > li em::before,
    .content .set-who .plyr_info .info-life li::before { left: -50%; }
    .content .set-up .how-to ol > li em::after,
    .content .set-who .plyr_info .info-life li::after { top: -50%; }

/** spinner **/
    .spinner {
        position: absolute; top: 50%; left: 50%; z-index: 100;
        width: 40px; height: 40px; background-color: lightseagreen;  
        -webkit-transform: translate(-50%, -50%); 
        -webkit-border-radius: 100%; 
        -webkit-animation: sk-scaleout 1s infinite ease-in-out; 
        transform: translate(-50%, -50%);
        border-radius: 100%;  
        animation: sk-scaleout 1s infinite ease-in-out;    
    }

    @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
            -webkit-transform: scale(1.0);
            opacity: 0;
        }
    }

    @keyframes sk-scaleout {
        0% { 
            -webkit-transform: scale(0);
            transform: scale(0);
        } 
        100% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
            opacity: 0;
        }
    }
