header {
    //header_type01
    .header_type01 {
        
        .header__logo {
            display: block;
            float: left;
            width: 140px;
        }

        nav {
            float: right;
            .gnb {
                > li {
                    position: relative;
                    display: inline-block;
                    width: auto;
                    margin-left: 30px;

                    > a {
                        display: block;
                        font-size: inherit;
                        line-height: inherit;
                        color: inherit;
                    }

                    &:hover {
                        > .depth_wrap {
                            display: block;
                        }
                    }
                }
                

                .depth_wrap {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: auto;
                    line-height: 1.5;
                    background-color: #fff;
                    border: 1px solid #d2d2d2;

                    li {
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
    
                            &:hover {
                                font-weight: bold;
                                color: #f30;
                            }
                            
                        }
                        
                    }

                    
                }

                .depth2 {
                    > li {
                        >.depth_wrap {
                            top: 26px;
                            left: 100%;
                        }

                        &:hover {
                            >.depth_wrap {
                                display: block;
                            }
                        }

                    }
                }
            }
            
                
            .btn_login {
                @include prefix(border,1px solid #f30);
                @include prefix(border-radius, 16px);
            }
        }
    }

    //header_type02
    .header_type02 {
        position: relative;
        
        .header__logo {
            display: block;
            float: left;
            width: 140px;
        }

        nav {
            float: right;

            .gnb {
                > li {
                    position: relative;
                    display: inline-block;
                    width: auto;
                    margin-left: 30px;

                    > a {
                        display: block;
                        font-size: inherit;
                        line-height: inherit;
                        color: inherit;
                    }
                }
                
                &:hover {
                    .depth_wrap {
                        display: block;
                    }
                }
            }  
        }
        

        .depth_wrap {
            position: absolute;
            width: 100%;
            right: 0;
            line-height: 1.5;
            border: 1px solid #d2d2d2;   
            
            ul {
                display: inline-block;
                margin-top: 30px;

                li {
                    padding: 0 10px;
                }
            }
            ul+ul {
                margin-left: 30px;
            }
        }

        .depth2 {
            &:hover {
                > .title {
                    font-weight: bold;
                    color: #f30 !important;
                }
            }
            li {
                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        font-weight: bold;
                        color: #00a2ff;
                    }
                    
                }
                
            }
        }
    }

    //header_type03
}